@import "tailwindcss";

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --exice-blue: #72add9;
  --exice-red: #e6223d;
  --exice-gray: #4a4a49;
  --exice-white: #f7f7f7;
  --background: #f7f7f7;
  --foreground: #4a4a49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-exice-blue: var(--exice-blue);
  --color-exice-red: var(--exice-red);
  --color-exice-gray: var(--exice-gray);
  --color-exice-white: var(--exice-white);
  --font-sans: 'Gotham', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Gotham', sans-serif;
}
